#activityCodeForm {
	display: inline-flex;
	width: 250px;
}

/*Header of each student accordion*/
.accordion-header {
	position: relative;
	margin-bottom: 1rem;
}
.accordion-header img {
	width: 75px;
	aspect-ratio: 1 / 1;

	margin-right: 1.8rem;

	border-radius: 50%;
}
.studentHeaderInformation {
	display: inline-block;
	position: absolute;
	transform: translate(0, -50%);
	top: 50%;
}
.accordion-header button {
	position: absolute;
	transform: translate(0, -50%);
	right: 0;
	top: 50%;
}

/*Side divider*/
.col-1 {
	width: 2%;
	min-width: 30px;
	display: flex;
	justify-content: center;
}
.vr {
	width: 3px;
	height: 100%;	
}

/*Notifications*/
.notificationsBox {
	padding: 0 2rem 0;
}
.notification hr {
	margin: 14px 0;
}

.informationSection ul {
	list-style-type: none;
	padding-left: 20px;
}

.endingLine {
	border: none;
	height: 3px;
	background-color: #555;  /* Modern Browsers */
}