.legendBox {
	display: inline-block;
	width: 20px;
	height: 20px;

	margin-right: 0.5em;

	border: 1px solid black;
	border-radius: 4px;
	background-color: red;
}

.delayed {
	background-color: var(--bs-danger);
}
.onSchedule {
	background-color: var(--bs-primary);
}
.aheadOfTime {
	background-color: var(--bs-success);
}



/*Header of each student accordion
.accordion-header {
	position: relative;
	margin-bottom: 1rem;
}*/
.accordion-header img {
	width: 75px;
	aspect-ratio: 1 / 1;

	margin-right: 1.8rem;

	border-radius: 50%;
}/*
.studentHeaderInformation {
	display: inline-block;
	position: absolute;
	transform: translate(0, -50%);
	top: 50%;
}
.accordion-header button {
	position: absolute;
	transform: translate(0, -50%);
	right: 0;
	top: 50%;
}*/

/*Side divider*/
.col-1 {
	width: 2%;
	min-width: 30px;
	display: flex;
	justify-content: center;
}
.vr {
	width: 3px;
	height: 100%;	
}