.scaleActivityCard {
	border: 0.5px solid black;
	background-color: rgb(232, 241, 255);
}

.scaleActivityCard .scaleActivityHeader {
	border-radius: 0.375rem 0.375rem 0 0;
	border-bottom: 0.5px solid black;
	width: 100%;

	margin-left: 0;
}
.scaleActivityCard .scaleActivityHeader .col {
	padding-left: 0;
	display: flex;
	align-items: center;
}
.scaleActivityHeader img {
	height: 50px;
	width: 100%;
	border-radius: 0.375rem 0 0 0;
	border-right: 1px solid black;

	object-fit: cover;
}
.scaleActivityHeader h6 {
	max-height: 40px; 
	margin-bottom: 0;

	overflow: hidden;
}

.scaleActivityCard .badge{
	display: inline-flex;
	justify-content: center;
	align-items: center;

	color: black;
	background-color: rgb(210, 210, 210);
	border: 2px solid black;
}
.scaleActivityStrands .badge {
	height: 25px;
	width: 25px;
	
	margin: 0 0.3rem 0.2rem;
	
	
	font-size: 16px;
	font-weight: 700;
}
.scaleActivityLOs .badge {
	height: 20px;
	width: 20px;
	
	margin: 0 0.2rem 0.2rem;

	font-size: 12px;
	font-weight: 500;
}
.scaleActivityLOs {
	margin-bottom: 0.8rem;;
}
.scaleActivityNotifications .badge {
	height: 25px;

	margin: 0 0.2rem 0.4rem;

	color: black;
	background-color: white;
	border: 2px solid black;
	font-weight: 500;
}
.scaleActivityMore {
	margin-top: 0.6rem;
}